<div class="back">
  <section class="main">
    <p id="target">メソ打ち！<br>〜クリックで開始〜</p>
    <p class="info">
      正解数: <span id= "score">0</span>
      ミス数: <span id= "miss">0</span>
      残り時間: <span id= "timer">0.00</span>
    </p>
    </p>
    <script>
    'use strict'

  {
    const words = [
      'ruby',
      'javascript',
      'jquery',
      'rails',
      'python',
      'div',
      'console.log',
      'hello world',
      'bundle install',
      'document',
      'puts',
      'while',
      'unity',
      'body',
      'head',
      'let',
      'function',
      'string',
      'import',
      'before_action',
      'has_many',
      'belongs_to',
      'input',
      'label',
      'render',
      'create',
      'index',
      'remove',
      'require',
      'application',
      'padding',
      'resources',
      'form_with',

    ];
    let word;
    let loc;
    let score;
    let miss;
    const timeLimit = 5 * 1000;
    let startTime;
    let isPlaying = false

    const target = document.getElementById('target');
    const scoreLabel = document.getElementById('score');
    const missLabel = document.getElementById('miss');
    const timerLabel = document.getElementById('timer');

    

    function updateTarget() {
      let placeholder = '';
      for (let i = 0; i <loc; i++) {
        placeholder += '*';
      }
      target.textContent = placeholder + word.substring(loc);
    }

    function updateTimer() {
      const timeLeft = startTime + timeLimit - Date.now();
      timerLabel.textContent = (timeLeft / 1000).toFixed(2);

      const timeoutId = setTimeout(() => {
        updateTimer();
      }, 10);

      if (timeLeft < 0) {
        isPlaying = false;

        clearTimeout(timeoutId);
        timerLabel.textContent = '0.00';
        setTimeout(() => {
          showResult();
        }, 100);

        target.textContent = '〜クリックで開始〜';
      }
    }

    

    window.addEventListener('click', () => {
      if (isPlaying ===true) {
        return;
      }
      isPlaying = true;

      loc = 0;
      score = 0;
      miss = 0;
      scoreLabel.textContent = score;
      missLabel.textContent = miss;
      word = words[Math.floor(Math.random() * words.length)];

      target.textContent = word;
      startTime = Date.now();
      updateTimer();
    });


    window.addEventListener('keydown', (e) => {
      console.log(e.key);
      if (isPlaying !== true) {
        return;
      }
      if (e.key === word[loc]) {
        console.log('score');
        loc++;
        if (loc === word.length) {
          word = words[Math.floor(Math.random() * words.length)];
          loc = 0;
        }
        updateTarget();
        score++;
        scoreLabel.textContent = score;
      } else {
        console.log('miss');
        miss++;
        missLabel.textContent = miss;
      }
    });
  }
    </script>
  </section>
</div>