.back {
  background-color: #efdec1;
  font-family: Verdana, sans-serif;
}


.main {
  width: 600px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding-top: 80px;
  position: relative;
  height: 588px;
  border: 2px solid #ccc;
  font-weight: bold;
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: 3px;
}

.info {
  color: #ccc;
}